In [123]:
import pandas as pd

df_bookings = pd.read_csv('./2_bookings.csv', sep=';', engine='python')

bookings_head = df_bookings.head(7)

In [122]:
df_bookings.shape

(119390, 21)

In [10]:
df_bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [11]:
df_bookings.rename(columns={"Is Canceled" : "Canceled", "Lead Time" : "Time"})

,Hotel,Canceled,Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [50]:
df_canceling = df_bookings[df_bookings['Is Canceled'] == False]
df_canceling['Country'].value_counts()

Country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
KIR        1
ATF        1
TJK        1
SLE        1
FRO        1
Name: count, Length: 165, dtype: int64

In [117]:
df_bookings.rename(columns={"Is Canceled" : "Canceled", "Lead Time" : "Time", "arrival full date" : "afd", "Arrival Date Year" : "ADY", "Arrival Date Month" : "ADM", "Arrival Date Week Number" :
                            "ADWN", "Arrival Date Day of Month" : "ADDoM", "Stays in Weekend nights" : "SiWn", "Stays in week nights" : "SiWkn",  "Adults" : "A", "Children" : "C",
                            "Babies" : "B", "Meal" : "M", "Country" : "Cntry"})

df_bookings.filter(like='stays total nights')

df_nights_city_hotel = (df_bookings.query("Hotel == 'City Hotel'")
                        .groupby('Hotel')
                        .agg({'stays total nights' : 'mean'}).
                        round(2))

df_nights_city_hotel

            stays total nights
Hotel
City Hotel                2.98

In [118]:
df_bookings.rename(columns={"Is Canceled" : "Canceled", "Lead Time" : "Time", "arrival full date" : "afd", "Arrival Date Year" : "ADY", "Arrival Date Month" : "ADM", "Arrival Date Week Number" :
                            "ADWN", "Arrival Date Day of Month" : "ADDoM", "Stays in Weekend nights" : "SiWn", "Stays in week nights" : "SiWkn",  "Adults" : "A", "Children" : "C",
                            "Babies" : "B", "Meal" : "M", "Country" : "Cntry"})

df_bookings.filter(like='stays total nights')

df_nights_resort_hotel = (df_bookings.query("Hotel == 'Resort Hotel'")
                        .groupby('Hotel')
                        .agg({'stays total nights' : 'mean'}).
                        round(2))

df_nights_resort_hotel

              stays total nights
Hotel
Resort Hotel                4.32

In [139]:
df_counting_overbooking = df_bookings.query("`Reserved Room Type` != `Assigned room type`").shape
df_counting_overbooking

(14917, 21)